footer{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

footer h3{
    font-weight: 100;
    color: #333;
}

footer i{
    color: #f44336;
}